<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="VsoConfiguration" type="VsoBackupProjects.Configuration.VsoConfiguration, VsoBackupProjects.Configuration, Version=1.0.0.0, Culture=neutral" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <VsoConfiguration
  VsoUserName="username visual studio online"
  VsoPassword="encryptedpassword - use VsoBackupProjects.EncryptPasswordConsole"
  VsoProjects="https://xxxxxxxxxxxxxxxx.visualstudio.com/DefaultCollection/_apis/projects"
  VsoVersionControlUrl="https://xxxxxxxxxxxxxxxx.visualstudio.com/xxxxxxxxxxxx_yourguid_xxxxxxxxxxxxxxxx/_api/_versioncontrol"
  BackupFolder="c:\backupVso"
  />

</configuration>